spring:
  profiles: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 9376570167
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

logging:
  level:
    root: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
