spring:
  profiles: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 9376570167
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8080

logging:
  level:
    root: WARN
    org.hibernate.SQL: ERROR
